*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  line-height: 1.1em;
  overflow-y: scroll;
}

body {
  transition: transform 0.5s;
  &.active {
    transform: translateX(-232px);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      background: #000;
      opacity: 0.8;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  @include unlist;
}
